* {
  box-sizing: border-box;
}

.cyberRing {
  position: relative;
  width: 77px;
  height: 182px;

  .yes {
    width: 16px;
    height: 11px;
    text-align: center;
    letter-spacing: 0;
    color: #000000;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 8px;
  }

  .frame {
    position: absolute;
    top: 65px;
    left: 19px;
    width: 39px;
    height: 117px;

    .group4 {
      display: flex;
      position: absolute;
      top: 23px;
      left: 0;
      align-items: center;
      padding-top: 1px;
      width: 39px;
      height: 94px;

      .rectangle1 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        border: 1px solid #454545;
        background: #ffffff;
        padding: 33px 14px 34px 13px;

        .text {
          line-height: 12px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 10px;
        }
      }
    }

    .line22 {
      display: flex;
      position: absolute;
      top: 1px;
      left: 19px;
      align-items: flex-start;
      justify-content: space-between;
      padding-top: 4px;
      padding-bottom: 9px;
      width: 17px;
      height: 24px;

      .line2 {
        margin-top: 8px;
        background: #454545;
        width: 24px;
        height: 1px;
        rotate: 90deg;
      }
    }
  }

  .frame2 {
    display: flex;
    position: absolute;
    top: 23px;
    left: 0;
    align-items: center;
    padding-top: 1px;
    width: 77px;
    height: 44px;

    .union {
      display: flex;
      flex-grow: 1;
      align-items: center;
      padding: 16px 13px 17px 16px;
      background-image: url(../image/mecw3644-2aejxj3.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .text2 {
        line-height: 10px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 8px;
      }
    }
  }

  .frame3 {
    display: flex;
    position: absolute;
    top: 1px;
    left: 38px;
    align-items: center;
    justify-content: space-between;
    padding-top: 7px;
    padding-bottom: 6px;
    width: 17px;
    height: 24px;

    .line1 {
      background: #454545;
      width: 24px;
      height: 1px;
      rotate: 90deg;
    }
  }
}
